nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: #fff;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 10px;
    height: auto;
  }
  
  a {
    color: white;
  }
  
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  li {
    display: inline-block;
    padding: 18px 0;
    width: 25%;
  }
  
  ul {
    display: flex;
    align-items: center;
  }